#links {
  display: flex;
  column-gap: 0.75em;
  margin-top: 0.2em;

  @media (prefers-reduced-motion: no-preference) {
    animation: Slide-in 1s backwards;
  }

  svg {
    height: 0.9em;
    fill: whitesmoke;
    float: left;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
      fill: coral;
      transition: 0.1s;
    }
  }
}

.load-first {
  animation-play-state: paused !important;
}

//My avatar logo//
.avatar {
  animation: wobble 6s infinite alternate ease-in-out,
    blur-in 6s both cubic-bezier(0.18, 0.1, 0.2, 1);
  image-rendering: optimizeSpeed;
  user-select: none;
  -webkit-user-drag: none;
}

@keyframes blur-in {
  0% {
    opacity: 20%;
    filter: blur(15px);
    transform: scale(88%);
  }
}

@keyframes spin-enter {
  from {
    transform: scale(0%) rotateZ(-360 * 1deg);
  }
}

@keyframes wobble {
  from {
    transform: rotateZ(3deg);
  }
  to {
    transform: rotateZ(-3deg);
  }
}

.Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  // filter: blur(3px);
  height: 100vh;
  width: 100vw;

  animation: Fade-in 20s ease-in;
}

.Name-header {
  z-index: 100;
  color: coral;
  user-select: none;
  @media (prefers-reduced-motion: no-preference) {
    animation: Fade-in 1.2s;
  }
  /* animation: Title-focus 2s infinite alternate ease-in-out; */
}

.App {
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-jump 0.35s infinite alternate,
      App-logo-spin 0.7s infinite alternate ease-in-out;

    position: relative;
    height: 7em;
  }
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  margin: 10vh 2em;
}

@keyframes Bloat-out {
  50% {
    size: 500%;
  }
  100% {
  }
}

@keyframes Fade-from-black {
  from {
    filter: brightness(0);
  }
  to {
  }
}

// .Slide-apart-vertical > * {
//   animation: Slide-apart-vertical 5s both;
// }

// @keyframes Slide-apart-vertical {
//   to {
//     margin: 1em auto;
//   }
// }

@keyframes Slide-in {
  from {
    column-gap: 0.2em;
    // transform: translateX(1em);
  }
}

@keyframes Fade-in {
  from {
    opacity: 0%;
  }
}

.App-logo {
  align-self: center;
  block-size: 7em;
  pointer-events: none;
  user-select: none;
}

@keyframes App-logo-jump {
  from {
    bottom: 0px;
  }
  to {
    bottom: 80px;
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(300deg);
  }
}
