@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Fredoka&family=Fredoka+One&family=Indie+Flower&family=Roboto+Slab&family=Sacramento&family=Sansita+Swashed&family=Supermercado+One&display=swap");
/*
		cool header text
	font-family: 'Acme', sans-serif;
		clean handwriting
	font-family: 'Caveat', cursive;
		simplistic round text
	font-family: 'Fredoka', sans-serif;
		thich round header text
	font-family: 'Fredoka One', cursive;
		playful comic sans
	font-family: 'Indie Flower', cursive;
		clean paragraph text
	font-family: 'Roboto Slab', serif;
		Stylish handwriting for quoting
	font-family: 'Sacramento', cursive;
		stylish header text
	font-family: 'Sansita Swashed', cursive;
		round title text
	font-family: 'Supermercado One', cursive;
*/

$dark-background: #2a2725;
$background-light-1: color-mix(in srgb, $dark-background 93%, white);
$main-color: #ff8569;
$secondary-color: #f7f0da;
$white: #d3d3d3;

p {
  font-family: "Roboto Slab";
  color: $white;
  font-size: 2.5vh;
}

:root {
  font-family: "Roboto Slab";
  color: $white;
}

body {
  background-color: $dark-background;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// all but nav
#root > :not(nav) {
  width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

.List-style {
  font-family: Fredoka;
  border-radius: 0.3em;
  background: rgb(255 255 255 / 10%);
  width: fit-content;
  padding: 0.5em;
  padding-left: 1.5em;

  > li {
    color: $main-color;
  }

  li::marker {
    color: rgba(255, 255, 255, 0.4);
  }

  ul li {
    color: rgba(187, 177, 150, 0.639);
  }
}

.Highlight {
  color: $main-color;
  font-size: 1.2em;
}

.Name-header {
  color: $main-color;
  font-size: xxx-large;
  user-select: none;
  font-family: "Fredoka";
  @media (prefers-reduced-motion: no-preference) {
    animation: Fade-in 1.2s;
  }
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: $white;

  height: 90vh;
  margin: 0 2em;
}
