#links {
  display: flex;
  -moz-column-gap: 0.75em;
       column-gap: 0.75em;
  margin-top: 0.2em;
}
@media (prefers-reduced-motion: no-preference) {
  #links {
    -webkit-animation: Slide-in 1s backwards;
            animation: Slide-in 1s backwards;
  }
}
#links svg {
  height: 0.9em;
  fill: whitesmoke;
  float: left;
  transition: 0.3s;
}
#links svg:hover {
  transform: scale(1.05);
  fill: coral;
  transition: 0.1s;
}

.load-first {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.avatar {
  -webkit-animation: wobble 6s infinite alternate ease-in-out, blur-in 6s both cubic-bezier(0.18, 0.1, 0.2, 1);
          animation: wobble 6s infinite alternate ease-in-out, blur-in 6s both cubic-bezier(0.18, 0.1, 0.2, 1);
  image-rendering: optimizeSpeed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

@-webkit-keyframes blur-in {
  0% {
    opacity: 20%;
    filter: blur(15px);
    transform: scale(88%);
  }
}

@keyframes blur-in {
  0% {
    opacity: 20%;
    filter: blur(15px);
    transform: scale(88%);
  }
}
@-webkit-keyframes spin-enter {
  from {
    transform: scale(0%) rotateZ(-360deg);
  }
}
@keyframes spin-enter {
  from {
    transform: scale(0%) rotateZ(-360deg);
  }
}
@-webkit-keyframes wobble {
  from {
    transform: translateY(0.2em) rotateZ(3deg);
  }
  to {
    transform: translateY(-0.2em) rotateZ(-3deg);
  }
}
@keyframes wobble {
  from {
    transform: translateY(0.2em) rotateZ(3deg);
  }
  to {
    transform: translateY(-0.2em) rotateZ(-3deg);
  }
}
.Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  -webkit-animation: Fade-in 20s ease-in;
          animation: Fade-in 20s ease-in;
}

.Name-header {
  z-index: 100;
  color: coral;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* animation: Title-focus 2s infinite alternate ease-in-out; */
}
@media (prefers-reduced-motion: no-preference) {
  .Name-header {
    -webkit-animation: Fade-in 1.2s;
            animation: Fade-in 1.2s;
  }
}

.App {
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-jump 0.35s infinite alternate, App-logo-spin 0.7s infinite alternate ease-in-out;
            animation: App-logo-jump 0.35s infinite alternate, App-logo-spin 0.7s infinite alternate ease-in-out;
    position: relative;
    height: 7em;
  }
}
.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 10vh 2em;
}

@-webkit-keyframes Bloat-out {
  50% {
    size: 500%;
  }
}

@keyframes Bloat-out {
  50% {
    size: 500%;
  }
}
@-webkit-keyframes Fade-from-black {
  from {
    filter: brightness(0);
  }
}
@keyframes Fade-from-black {
  from {
    filter: brightness(0);
  }
}
@-webkit-keyframes Slide-in {
  from {
    column-gap: 0.2em;
  }
}
@keyframes Slide-in {
  from {
    -moz-column-gap: 0.2em;
         column-gap: 0.2em;
  }
}
@-webkit-keyframes Fade-in {
  from {
    opacity: 0%;
  }
}
@keyframes Fade-in {
  from {
    opacity: 0%;
  }
}
.App-logo {
  align-self: center;
  block-size: 7em;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes App-logo-jump {
  from {
    bottom: 0px;
  }
  to {
    bottom: 80px;
  }
}

@keyframes App-logo-jump {
  from {
    bottom: 0px;
  }
  to {
    bottom: 80px;
  }
}
@-webkit-keyframes App-logo-spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(300deg);
  }
}
@keyframes App-logo-spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(300deg);
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  /* Handle */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #6e6e6e;
}

.speech-bubble div {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  padding: 1em;
  display: flex;
  border-radius: 0.7em;
  background-color: white;
}

.speech-bubble {
  overflow: hidden;
  -webkit-animation: writer 2s infinite alternate ease-out;
          animation: writer 2s infinite alternate ease-out;
  z-index: -1;
  bottom: 5em;
  position: relative;
}

@-webkit-keyframes writer {
  from {
    width: 0em;
  }
  to {
    transform: translateX(200px);
    width: 100%;
  }
}

@keyframes writer {
  from {
    width: 0em;
  }
  to {
    transform: translateX(200px);
    width: 100%;
  }
}
:root {
  background-color: #18191d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}/*# sourceMappingURL=index.css.map */