.project-container {
  display: flex;
  margin: auto;
  font-family: Arial, sans-serif;
  color: $main-color;
  cursor: default;
  //   align-items: center;

  .image-section {
    flex: 2;
  }

  .game-image {
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
  }

  .text-section {
    flex: 1;
    text-align: start;
  }

  ::first-letter {
    text-transform: capitalize;
  }

  h2 {
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    font-size: unset;
  }

  .tags {
    margin: 10px 0;
  }

  .tag {
    display: inline-block;
    background-color: #d9534f;
    color: white;
    text-transform: capitalize;
    padding: 4px 8px;
    margin: 4px 0;
    margin-right: 10px;
    border-radius: 5px;
  }

  ul {
    list-style-type: none;
    padding-inline: 0;

    li {
      background-color: #00000024;
      padding: 0.3em;
      border-radius: 0.2em;
    }

    li:not(:last-child, .expanded) {
      margin-bottom: 5px;
    }

    li > span::before {
      content: "•";
      padding-right: 0.5em;
    }

    li.expandable {
      cursor: pointer;
      // &:hover {
      //   background-color: #00000027 !important;
      // }
    }

    li.expandable:not(.expanded) > svg {
      rotate: 180deg;
    }

    li > svg {
      > path {
        fill: $main-color;
      }
      width: auto;
      height: 1em;
      stroke: $main-color;
      float: right;
      margin: 1px;
    }
  }

  .download {
    margin-top: 20px;
    font-style: italic;
    font-size: 0.95em;
  }

  .download a {
    color: #337ab7;
    text-decoration: none;
  }

  .download a:hover {
    text-decoration: underline;
  }
}

.project-container > * {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 50rem) {
  .image-section {
    padding-bottom: 2vw;
  }
  .project-container > * {
    flex-direction: column;
    padding: 5px;
  }
}

@media only screen and (min-width: 50rem) {
  .image-section {
    padding-right: 2vw;
  }
  .project-container > * {
    flex-direction: row;
    padding: 4vw;
  }
}
