@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Fredoka&family=Fredoka+One&family=Indie+Flower&family=Roboto+Slab&family=Sacramento&family=Sansita+Swashed&family=Supermercado+One&display=swap");
#links {
  display: flex;
  -moz-column-gap: 0.75em;
       column-gap: 0.75em;
  margin-top: 0.2em;
}
@media (prefers-reduced-motion: no-preference) {
  #links {
    animation: Slide-in 1s backwards;
  }
}
#links svg {
  height: 0.9em;
  fill: whitesmoke;
  float: left;
  transition: 0.3s;
}
#links svg:hover {
  transform: scale(1.05);
  fill: coral;
  transition: 0.1s;
}

.load-first {
  animation-play-state: paused !important;
}

.avatar {
  animation: wobble 6s infinite alternate ease-in-out, blur-in 6s both cubic-bezier(0.18, 0.1, 0.2, 1);
  image-rendering: optimizeSpeed;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

@keyframes blur-in {
  0% {
    opacity: 20%;
    filter: blur(15px);
    transform: scale(88%);
  }
}
@keyframes spin-enter {
  from {
    transform: scale(0%) rotateZ(-360deg);
  }
}
@keyframes wobble {
  from {
    transform: rotateZ(3deg);
  }
  to {
    transform: rotateZ(-3deg);
  }
}
.Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  animation: Fade-in 20s ease-in;
}

@keyframes Fade-from-black {
  from {
    filter: brightness(0);
  }
}
@keyframes Slide-in {
  from {
    -moz-column-gap: 0.2em;
         column-gap: 0.2em;
  }
}
@keyframes Fade-in {
  from {
    opacity: 0%;
  }
}
@keyframes App-logo-jump {
  from {
    bottom: 0px;
  }
  to {
    bottom: 80px;
  }
}
@keyframes App-logo-spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(300deg);
  }
}
/*
		cool header text
	font-family: 'Acme', sans-serif;
		clean handwriting
	font-family: 'Caveat', cursive;
		simplistic round text
	font-family: 'Fredoka', sans-serif;
		thich round header text
	font-family: 'Fredoka One', cursive;
		playful comic sans
	font-family: 'Indie Flower', cursive;
		clean paragraph text
	font-family: 'Roboto Slab', serif;
		Stylish handwriting for quoting
	font-family: 'Sacramento', cursive;
		stylish header text
	font-family: 'Sansita Swashed', cursive;
		round title text
	font-family: 'Supermercado One', cursive;
*/
p {
  font-family: "Roboto Slab";
  color: #d3d3d3;
  font-size: 2.5vh;
}

* {
  color: #d3d3d3;
}

body {
  background-color: #18191d;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > :not(:first-child) {
  width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

.List-style {
  font-family: Fredoka;
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.1);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  padding-left: 1.5em;
}
.List-style > li {
  color: coral;
}
.List-style li::marker {
  color: rgba(255, 255, 255, 0.4);
}
.List-style ul li {
  color: rgba(187, 177, 150, 0.639);
}

.Highlight {
  color: coral;
  font-size: 1.2em;
}

.Name-header {
  color: coral;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Fredoka";
}
@media (prefers-reduced-motion: no-preference) {
  .Name-header {
    animation: Fade-in 1.2s;
  }
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d3d3d3;
  margin: 0 2em;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  /* Handle */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: rgb(110, 110, 110);
}

.ImageGallery {
  --buttonWidth: 30%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}
.ImageGallery img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 calc(var(--buttonWidth) * -1);
}
.ImageGallery .left-button {
  justify-content: start;
}
.ImageGallery .left-button:hover .button-icon {
  transform: translateX(-2rem);
}
.ImageGallery .right-button {
  justify-content: end;
}
.ImageGallery .right-button:hover .button-icon {
  transform: translateX(2rem);
}
.ImageGallery .button {
  z-index: 1;
  background-color: hsla(0, 0%, 0%, 0);
  transition: ease-in-out 200ms;
  min-width: var(--buttonWidth);
  display: flex;
  align-items: center;
}
.ImageGallery .button:hover .button-icon {
  transition: 200ms;
  visibility: visible;
}
.ImageGallery .button-icon {
  color: #f7f0da;
  font-weight: bold;
  font-size: 2rem;
  visibility: hidden;
}

.Chapter {
  margin-top: 2rem;
  text-align: start;
  width: 100%;
}
.Chapter .Chapter-header {
  color: whitesmoke;
  font-size: 3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}
.Chapter .Chapter-content {
  border-top: 2px solid hsla(0, 0%, 100%, 0.15);
}
.Chapter .Chapter .Chapter-header {
  font-size: 2.25em;
}

.Chapter-header::before {
  color: transparent;
  position: relative;
  transition: 200ms;
  left: -0.75em;
  position: relative;
  content: "#";
}

.Chapter-header:hover::before {
  transition: 200ms;
  color: whitesmoke;
  transform: translateX(20px);
  left: -0.1em;
}

.LineSegment {
  border-top: 0.1em dashed hsla(0, 0%, 50%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto 0 auto;
  width: 90%;
}
.LineSegment p {
  color: hsla(0, 0%, 50%, 0.5);
  font-style: italic;
  font-weight: bold;
  font-size: 0.8em;
  position: relative;
  bottom: 0.6em;
  padding: 0 0.5em;
  background-color: black;
}

nav {
  background-color: hsla(0, 0%, 50%, 0.18);
  margin-bottom: 1em;
  display: flex;
}
nav a {
  color: rgb(226, 226, 226);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6em 1em;
  font-family: sans-serif;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.ScrollText {
  overflow-y: scroll;
  overflow-x: visible;
  height: -webkit-fill-available;
  margin: 2em 0;
}

.Side {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* width */
.ScrollText::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.ScrollText::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Handle */
.ScrollText::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 50%, 0.25);
  border-radius: 1em;
}

/* Handle on hover */
.ScrollText::-webkit-scrollbar-thumb:hover {
  background: #555;
}/*# sourceMappingURL=index.css.map */